* {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    font-style: italic;
    color: darkgreen;
}

p {
    font-size: large;
}


#questions {
    font-size: large;
    font-weight: bold;
}



/*buttons*/
button {
   padding: 5px 10px;
   color: blueviolet; 
   background-color: antiquewhite;
   border-radius: 25px;
   display:flex;
   flex-direction: row-reverse; 
   font-size: larger;
}

#start{
    margin: 107px 518px;
    float: right;
}
button:hover {
    font-size: large;
}

.container button {
    display: flex;
    margin: 20px auto;
}


#answer_results {
    text-decoration: underline;
    font-size: x-large;
    color: crimson;
}

#timer{
    text-align: end;
    padding: 45px;
}
ul{
   list-style-type: none;
   color: forestgreen;
}

h2 {
    text-decoration: underline;
}