* {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    font-style: italic;
    color: darkgreen;
}

p {
    font-size: large;
}


#questions {
    font-size: large;
    font-weight: bold;
}



/*buttons*/
button {
   padding: 5px 10px;
   color: blueviolet; 
   background-color: antiquewhite;
   border-radius: 25px;
   display:flex;
   flex-direction: row-reverse; 
}

button:hover {
    font-size: large;
}

.container button {
    display: flex;
    margin: 20px auto;
}